[dotenv@17.3.1] injecting env (8) from .env.local -- tip: ­ƒöÉ encrypt with Dotenvx: https://dotenvx.com
Fetching projects to generate slug migration...

=============================================
ETAPE 1 : AJOUT DE LA COLONNE (A COPIER DANS SUPABASE SQL EDITOR)
=============================================

ALTER TABLE public.projects ADD COLUMN slug TEXT UNIQUE;

=============================================
ETAPE 2 : REMPLISSAGE DES SLUGS (A COPIER DANS SUPABASE SQL EDITOR)
=============================================

UPDATE public.projects SET slug = 'mandragora-a-slalom' WHERE id = 'b67e84b9-9bcf-4b45-ab75-eca64355c36d';
UPDATE public.projects SET slug = 'dyen-a-slalom' WHERE id = '69dbb808-8c8b-4478-96d5-c7f4256996b1';
UPDATE public.projects SET slug = 'la-darude-a-slalom' WHERE id = '72a619d8-ca05-4aa1-a20f-94a83490a4c7';
UPDATE public.projects SET slug = 'rabadub-2022-felleries' WHERE id = '70145366-b4c7-4365-a2cc-aa559a5ce824';
UPDATE public.projects SET slug = 'une-eclipse-au-parfum-oriental' WHERE id = '5728bda8-bbfe-43bc-bad8-49a4e4f26e52';
UPDATE public.projects SET slug = 'amrk-all-night-long-slalom' WHERE id = '73362fd7-ab88-4aa7-8dee-c210b6ab13ee';
UPDATE public.projects SET slug = 'panteros666-initial-festival' WHERE id = 'db51cfbb-52f9-47ce-96da-99709993d719';
UPDATE public.projects SET slug = 'crystal-chardonnay' WHERE id = '306750f5-016d-49f4-8647-047302b5ca4f';
UPDATE public.projects SET slug = 'panteros666-b2b-durdenhauer' WHERE id = 'e1a1655c-06ca-4723-bb51-99423234a4a4';
UPDATE public.projects SET slug = 'birthday-recap-slalom' WHERE id = '4428cdd0-ca56-4ead-87d7-877649f8e604';
UPDATE public.projects SET slug = 'organik-a-slalom' WHERE id = '44486840-2976-4b52-befc-7e519d855d2b';
UPDATE public.projects SET slug = 'al-hamra-restaurant' WHERE id = '7b0eb7d3-6762-4566-9750-13d99e4842e0';
UPDATE public.projects SET slug = 'fossile-mea' WHERE id = '4444b032-30ef-4187-ba9f-b8e9f984d122';
UPDATE public.projects SET slug = 'phvra-bad-neck' WHERE id = 'e164aa01-b81d-43d3-b114-0aa8d9c2e0f9';
UPDATE public.projects SET slug = 'puzzle-classique' WHERE id = 'd7ee8740-4c8e-452f-94c2-b6e37463e58c';
UPDATE public.projects SET slug = 'answr-dystopia' WHERE id = '5eb7815d-03c4-4eda-8b4f-d2f970022fc0';
UPDATE public.projects SET slug = 'khaos-a-slalom' WHERE id = 'bfae92b0-d884-4fc5-ba00-cf2c164c6450';
UPDATE public.projects SET slug = 'chrysalide-insty-design' WHERE id = 'cf079bfb-bb14-43f8-8699-ef1129a64e19';
UPDATE public.projects SET slug = 'balade-en-ville' WHERE id = '4b7af368-eeb5-49ef-ac2d-3ea0eab555eb';
UPDATE public.projects SET slug = 'eskha-la-machine-du-moulin-rouge' WHERE id = '306839ec-fe4d-4312-8ab7-09ff5893b5e0';
UPDATE public.projects SET slug = 'teknbass-016-360-highlight' WHERE id = '830851a6-2790-42b6-9afd-f523c1923fdf';
UPDATE public.projects SET slug = 'fragments-nocturne' WHERE id = 'd5a328c5-6c37-4381-b556-f0dac2449408';
UPDATE public.projects SET slug = 'marion-di-napoli-dour-festival' WHERE id = '51ead7f8-aa13-4f0a-9236-39c323d3b171';
UPDATE public.projects SET slug = 'morn-collection' WHERE id = '1bea342b-338a-48f6-b453-58e72f4733be';
UPDATE public.projects SET slug = 'adahy-ni-femme-ni-rien' WHERE id = '10e594a0-08aa-485f-baa3-3d31ad26d9ab';
UPDATE public.projects SET slug = 'rpc-radical' WHERE id = 'aa31a970-8993-4fdb-87c3-e24e4f0506b0';
UPDATE public.projects SET slug = 'slalom-not-just-a-club' WHERE id = '7c07ed0a-d75a-4489-ae52-31403320d7e7';
UPDATE public.projects SET slug = 'eskha-jardin-dhiver' WHERE id = '267eccae-7a30-4591-95e8-5eef3c6e28c7';
UPDATE public.projects SET slug = 'newrave-les-histoires-ne-meurent-jamais' WHERE id = 'ab9b4037-24bc-44e5-bc9b-5f26d2f59787';
UPDATE public.projects SET slug = 'laetitia-et-stephane' WHERE id = 'd1f09ef3-68f5-4d3e-8602-8a59144da6d0';
UPDATE public.projects SET slug = 'answr-all-night-long-slalom' WHERE id = '69610b9b-ab7d-4f7d-98ab-645e79bc4e14';
UPDATE public.projects SET slug = 'foo-fighters-tribute-all-my-life' WHERE id = '3bbf93d1-9a14-4802-af28-bf41fd954347';
UPDATE public.projects SET slug = 'back-in-the-street' WHERE id = '72f1d43f-34db-4d90-aa21-1d68446d1658';
UPDATE public.projects SET slug = 'alix-van-ripato-terre-de-memoires' WHERE id = '26b13f2f-6fd1-4377-a7be-f12b4e515ed8';
UPDATE public.projects SET slug = 'flor-fantasy' WHERE id = '6bf7e5d4-e9c9-4927-b928-1460323cd416';
UPDATE public.projects SET slug = 'zzze-kiosk-felleries-2023' WHERE id = '0b695056-f7b0-4e7b-93d1-63b406e18b29';
UPDATE public.projects SET slug = 'partitions-mea' WHERE id = 'e8497183-baa2-485a-b33b-906b1319d177';
UPDATE public.projects SET slug = 'annonce-newrave-valenciennes-2025' WHERE id = '39d13372-9622-4ce3-ad86-5ffd2761a9f4';
UPDATE public.projects SET slug = 'shanixx-lbr-festival' WHERE id = '67766c83-6971-4dd4-ba77-e907b43b7aad';
UPDATE public.projects SET slug = 'spicy-v-teaser-all-night-long' WHERE id = '86bbf816-00f5-4ec1-a0db-e880af681032';
UPDATE public.projects SET slug = 'le-fou-du-bus' WHERE id = 'ea283a82-8001-4fa1-8d72-758fd20e2fcd';
UPDATE public.projects SET slug = 'patate-douce-fete-de-la-musique' WHERE id = '85b31278-c4a0-49f2-b234-dab6b81f2333';
UPDATE public.projects SET slug = 'annonce-sortie-album-puzzle' WHERE id = '943f0b08-677e-44c1-b926-3e6ea17f702d';
UPDATE public.projects SET slug = 'skone-panorama-festival' WHERE id = '963403bf-e648-4d15-b0db-645607586fc3';

=============================================
ETAPE 3 : RENDRE LA COLONNE OBLIGATOIRE (A COPIER DANS SUPABASE SQL EDITOR)
=============================================

ALTER TABLE public.projects ALTER COLUMN slug SET NOT NULL;

Migration brute pr├¬te !
