[dotenv@17.3.1] injecting env (8) from .env.local -- tip: ÔÜÖ´©Å  enable debug logging with { debug: true }
Fetching projects to generate rotation migration...

=============================================
COPIE/COLLE CECI DANS LE SUPABASE SQL EDITOR :
=============================================

-- Ajout de la colonne rotation (0 par d├®faut)
ALTER TABLE public.projects ADD COLUMN rotation INTEGER DEFAULT 0 NOT NULL;

=============================================
